<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limitskyapps.aranya2014"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.limitskyapps.aranya2014.SplashScreen"
            
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
             <activity
            android:name="com.limitskyapps.aranya2014.Home"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.limitskyapps.aranya2014.HomeTest2"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
              <activity
            android:name="com.limitskyapps.aranya2014.Hometest"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            <activity
            android:name="com.limitskyapps.aranya2014.ContactUs"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.Home"
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.limitskyapps.aranya2014.Settings"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.Home"
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.limitskyapps.aranya2014.StarNight"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.Home"
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.limitskyapps.aranya2014.StarPage"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.StarNight"
            android:configChanges="orientation|keyboardHidden|keyboard"
            
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
           <activity
            android:name="com.limitskyapps.aranya2014.Developer"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.Home"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                 <activity
            android:name="com.limitskyapps.aranya2014.AboutUs"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.Home"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.limitskyapps.aranya2014.Events"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.Home"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.limitskyapps.aranya2014.EventOnClick"
          
            android:label="@string/app_name" 
            android:parentActivityName="com.limitskyapps.aranya2014.Home"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
    </application>

</manifest>
